apiVersion: v1
kind: Service
metadata:
  name: my-api
  labels:
    app: my-api
spec:
  selector:
    app: my-api
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
    name: http
  type: NodePort